@import '../../style/variables';

main{
    .Projects {
        display: grid;
        grid-template-columns: 70% auto;
        gap: 5%;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;

        .Website {
            height: auto;
            padding: 1rem;
            width: auto;
            background-color: $back-color-2;
            border-radius: 0.5rem;

            .webPagina {
                width: 100%;
                height: 100%;
                overflow: auto;
                border-radius: 0.5rem;
                scrollbar-base-color: var(--acent-color);
                scrollbar-face-color: var(--acent-color);

                img {
                    width: 100%;
                }
            }
        }

        .websiteExtraInfo {
            border-radius: 0.5rem;

            .info,
            .links {
                padding: 0.5rem;
                display: block;
                background-color: $back-color-2;
                border-radius: inherit;
                text-align: center;
                color: inherit;

                h3 {
                    text-align: center;
                }
            }

            .links {
                margin-top: 1rem;

                a {
                    color: inherit;
                }
            }

            .alleProjecten {
                display: block;
                position: relative;
                padding: 1rem;
                color: var(--acent-color);
                text-align: center;
                border-radius: 0.5rem;
                border: 1px solid var(--acent-color);
                margin-top: 2rem;
                text-decoration: none;
            }

            .alleProjecten:hover {
                background-color: var(--acent-color);
                color: $color;
                transition: background-color 0.5s ease;
            }
        }
    }
}