header {
    animation-duration: 2s;
    animation-name: slidin;

    .mainNav {
        position: fixed;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid $color;
        background-color: rgba(0, 0, 0, 0.452);
        top: 0;
        opacity: 1;
        color: $color-2;

        ul {
            list-style: none;

            a {
                text-decoration: none;
                color: inherit;
            }

            .Logo {
                text-align: left;
                font-family: "Russo One", sans-serif;
                font-size: 3rem;

                span {
                    color: var(--acent-color);
                }
            }

            .Left {
                margin-top: 1.1rem;
                float: right;
                margin-right: 1rem;
                font-size: 1rem;
                transition: color 0.5s;
            }

            .Left:hover {
                color: var(--acent-color);
                border-bottom: 2px solid var(--acent-color);
            }
        }
    }

    .navBackground {
        height: 5.5rem;
        background-color: $nav;
    }
}

@media screen and (max-width: 1000px) {
    header{
        animation: none;
    }
}