main {
    margin-left: 3rem;
    margin-right: 2rem;

    .intro {
        height: 200vh;

        .under {
            position: sticky;
            top: 0;

            .intoduction::before {
                content: "<h1>";
                font-family: "Stylish", sans-serif;
                color: #515152;
                font-size: 1rem;
                position: absolute;
                left: 0;
                font-weight: 900;
                top: 6rem;
            }

            .intoduction::after {
                content: "</h1>";
                font-family: "Stylish", sans-serif;
                color: #515152;
                font-size: 1rem;
                position: absolute;
                left: 0;
                font-weight: 900;
            }

            .subIntro::before {
                content: "<p>";
                font-family: "Stylish", sans-serif;
                color: #515152;
                font-size: 1rem;
                position: absolute;
                left: 0;
                font-weight: 900;
            }

            .subIntro::after {
                content: "</p>";
                font-family: "Stylish", sans-serif;
                color: #515152;
                font-size: 1rem;
                position: absolute;
                left: 0;
                font-weight: 900;
            }

            h1 {
                font-family: "Anton", sans-serif;
                font-size: 5rem;
                letter-spacing: 1px;
                margin-top: 0;
                padding-top: 0;
                color: $color-2;
            }

            .intoduction {
                span {
                    transition: font-size 0.2s;
                }
                span:hover {
                    color: var(--acent-color);
                    font-size: 4.5rem;
                }
            }

            .subIntro {
                font-size: 1.4rem;
                padding-bottom: 10rem;
                color: $color-2;
            }

            .contactMe {
                border: 1px solid var(--acent-color);
                color: var(--acent-color);
                position: absolute;
                text-align: center;
                font-size: 1.5rem;
                right: 2rem;
                top: 30%;
                padding: 1rem;
                padding-left: 2rem;
                padding-right: 2rem;
                display: inline-block;
                text-transform: uppercase;
                border-radius: 0.5rem;
                text-decoration: none;
            }

            .contactMe:hover {
                background-color: var(--acent-color);
                color: var(--acent-color);
                transition: background-color 0.5s ease;
            }
        }

        .colors {
            position: absolute;
            bottom: 1rem;
            right: 45%;

            button {
                width: 3rem;
                height: 2rem;
                border: 2px solid gray;
                border-radius: 0.5rem;
                cursor: pointer;
            }

            #purple {
                background-color: #682860;
            }

            #blue {
                background-color: #0a6165;
            }

            #red {
                background-color: red;
            }
        }

        .Scroll {
            position: absolute;
            bottom: 1.5rem;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            color: var(--acent-color);
            font-size: 0.8rem;
        }

        .bounce {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: bounce;
            animation-timing-function: ease;
        }

        .Left {
            left: 0;
        }

        .Right {
            right: 0;
        }
    }

    .over {
        margin-top: -100vh;
        position: relative;
        background-color: $back-color;
        position: sticky;
        top: 0;

        .AboutMe {
            display: grid;
            grid-template-columns: 70% auto;
            justify-content: center;
            align-items: center;
            gap: 5%;

            .ulAboutMe {
                background-color: $back-color-2;
                padding: 1rem;
                background-color: $back-color-2;
                border-radius: 0.5rem;

                ul {
                    li:last-child {
                        margin-top: 1rem;
                    }
                }
            }

            .stats {
                width: 100%;
                border-radius: 0.5rem;
            }
        }

        .Projects {
            display: grid;
            grid-template-columns: 70% auto;
            gap: 5%;
            justify-content: center;
            align-items: center;

            .Website {
                height: 70vh;
                padding: 1rem;
                width: auto;
                background-color: $back-color-2;
                border-radius: 0.5rem;

                .webPagina {
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    border-radius: 0.5rem;
                    scrollbar-base-color: var(--acent-color);
                    scrollbar-face-color: var(--acent-color);

                    img {
                        width: 100%;
                    }
                }
            }

            .websiteExtraInfo {
                border-radius: 0.5rem;

                .info,
                .links {
                    padding: 0.5rem;
                    display: block;
                    background-color: $back-color-2;
                    border-radius: inherit;
                    text-align: center;
                    color: inherit;

                    h3 {
                        text-align: center;
                    }
                }

                .links {
                    margin-top: 1rem;

                    a {
                        color: inherit;
                    }
                }

                .alleProjecten {
                    display: block;
                    position: relative;
                    padding: 1rem;
                    color: var(--acent-color);
                    text-align: center;
                    border-radius: 0.5rem;
                    border: 1px solid var(--acent-color);
                    margin-top: 2rem;
                    text-decoration: none;
                }

                .alleProjecten:hover {
                    background-color: var(--acent-color);
                    color: $color;
                    transition: background-color 0.5s ease;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main {
        margin-bottom: -6rem;

        .intro {
            .under {
                h1 {
                    font-size: 4rem;
                }

                .intoduction::before {
                    top: 5rem;
                }

                .contactMe {
                    display: none;
                }
            }
        }

        .over {
            .Projects {
                grid-template-columns: 100%;

                .Website {
                    height: 50vh;
                    .webPagina {
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .AboutMe {
                max-width: unset;
                grid-template-columns: 100%;
                margin-bottom: 4rem;

                .stats {
                    height: 80%;
                    width: auto;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}