@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Russo+One&display=swap&family=Stylish&display=swap");

:root {
    --color: rgb(231, 231, 231);
    --color-2: grey;
    --back-color: #1d1d1d;
    --back-color-2: #2b2b2b;
    --nav: black;

    --acent-color: red;
}

@media (prefers-color-scheme: light) {
    :root {
        --back-color: white;
        --back-color-2: rgb(134, 134, 134);
        --color: black;
        --color-2: rgb(95, 95, 95);
        --nav: rgb(134, 134, 134);
    }
}

html {
    scroll-snap-align: end;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    margin: 0;
    background-color: var(--back-color);
    color: var(--color);
    font-family: "Cabin", sans-serif;
    animation-duration: 2s;
    animation-name: scale-up-center;

    h2 {
        color: var(--color-2);
    }
}

header {
    animation-duration: 2s;
    animation-name: slidin;

    .mainNav {
        position: fixed;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid --color;
        background-color: var(--nav);
        top: 0;
        opacity: 1;
        color: var(--color-2);

        ul {
            list-style: none;

            a {
                text-decoration: none;
                color: inherit;
            }

            .Logo {
                text-align: left;
                font-family: "Russo One", sans-serif;
                font-size: 3rem;

                span {
                    color: var(--acent-color);
                }
            }

            .Left {
                margin-top: 1.1rem;
                float: right;
                margin-right: 1rem;
                font-size: 1rem;
                transition: color 0.5s;
            }

            .Left:hover {
                color: var(--acent-color);
                border-bottom: 2px solid --acent-color;
            }
        }
    }

    .navBackground {
        height: 5.5rem;
        background-color: black;
    }
}

main {
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 5rem;

    .intoduction::before {
        content: "<h1>";
        font-family: "Stylish", sans-serif;
        color: #515152;
        font-size: 1rem;
        position: absolute;
        left: 2rem;
        font-weight: 900;
        top: 12rem;
    }

    .intoduction::after {
        content: "</h1>";
        font-family: "Stylish", sans-serif;
        color: #515152;
        font-size: 1rem;
        position: absolute;
        left: 2rem;
        font-weight: 900;
    }

    .subIntro::before {
        content: "<p>";
        font-family: "Stylish", sans-serif;
        color: #515152;
        font-size: 1rem;
        position: absolute;
        left: 2rem;
        font-weight: 900;
    }

    .subIntro::after {
        content: "</p>";
        font-family: "Stylish", sans-serif;
        color: #515152;
        font-size: 1rem;
        position: absolute;
        left: 2rem;
        font-weight: 900;
    }

    h1 {
        font-family: "Anton", sans-serif;
        font-size: 5rem;
        letter-spacing: 1px;
        margin-top: 0;
        padding-top: 0;
        color: var(--color-2);
    }

    .intoduction {
        span {
            transition: font-size 0.2s;
        }
        span:hover {
            color: var(--acent-color);
            font-size: 4.5rem;
        }
    }

    .subIntro {
        font-size: 1.4rem;
        padding-bottom: 10rem;
        color: var(--color-2);
    }

    .contactMe {
        border: 1px solid var(--acent-color);
        color: var(--acent-color);
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        right: 2rem;
        top: 30%;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    .contactMe:hover {
        background-color: var(--acent-color);
        color: var(--color);
        transition: background-color 0.5s ease;
    }

    .AboutMe {
        display: grid;
        grid-template-columns: 70% auto;
        justify-content: center;
        align-items: center;
        gap: 5%;

        .ulAboutMe {
            background-color: var(--back-color-2);
            padding: 1rem;
            background-color: var(--back-color-2);
            border-radius: 0.5rem;

            ul {
                li:last-child {
                    margin-top: 1rem;
                }
            }
        }

        .stats {
            width: 100%;
            border-radius: 0.5rem;
        }
    }

    .Projects {
        display: grid;
        grid-template-columns: 70% auto;
        gap: 5%;
        justify-content: center;
        align-items: center;

        .Website {
            height: 70vh;
            padding: 1rem;
            width: auto;
            background-color: var(--back-color-2);
            border-radius: 0.5rem;

            .webPagina {
                width: 100%;
                height: 100%;
                overflow: auto;
                border-radius: 0.5rem;
                scrollbar-base-color: var(--acent-color);
                scrollbar-face-color: var(--acent-color);

                img {
                    width: 100%;
                }
            }
        }

        .websiteExtraInfo {
            border-radius: 0.5rem;

            .info,
            .links {
                padding: 0.5rem;
                display: block;
                background-color: var(--back-color-2);
                border-radius: inherit;
                text-align: center;
                color: inherit;

                h3 {
                    text-align: center;
                }
            }

            .links {
                margin-top: 1rem;

                a {
                    color: inherit;
                }
            }

            .alleProjecten {
                display: block;
                position: relative;
                padding: 1rem;
                color: var(--acent-color);
                text-align: center;
                border-radius: 0.5rem;
                border: 1px solid var(--acent-color);
                margin-top: 2rem;
                text-decoration: none;
            }

            .alleProjecten:hover {
                background-color: var(--acent-color);
                color: var(--color);
                transition: background-color 0.5s ease;
            }
        }
    }

    * {
        opacity: 0;
        transition: opacity 250ms ease-in;
    }

    *.appear {
        opacity: 1;
    }
}

footer {
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 3rem;

    * {
        opacity: 0;
        transition: opacity 250ms ease-in;
    }

    *.appear {
        opacity: 1;
    }

    .contact {
        display: grid;
        grid-template-columns: 60% 35%;
        gap: 5%;
        justify-content: center;
        align-items: center;

        .contactInfo {
            border-radius: 0.5rem;
            background-color: var(--back-color-2);
            padding: 1rem;
            padding-bottom: 2rem;

            form {
                display: grid;
                grid-template-columns: 48% 48%;
                gap: 2%;
                justify-content: center;
                align-items: center;
                width: 100%;

                #subject,
                textarea,
                #verzenden {
                    grid-column: 1/3;
                }

                #verzenden {
                    cursor: pointer;
                }

                #email,
                #name,
                #subject {
                    height: 1rem;
                    padding: 1rem;
                    font-family: inherit;
                    border: 2px solid var(--color-2);
                    border-radius: 0.3rem;
                    background-color: inherit;
                    color: inherit;
                    letter-spacing: 2px;
                    color: var(--color);
                }

                #verzenden {
                    text-align: center;
                    padding: 0.5rem;
                    font-family: inherit;
                    border: 2px solid var(--color-2);
                    border-radius: 0.3rem;
                    margin-top: 0.5rem;
                    background-color: inherit;
                    color: var(--color);
                }

                textarea {
                    padding: 1rem;
                    font-family: inherit;
                    border-radius: 0.3rem;
                    background-color: inherit;
                    border: 2px solid var(--color-2);
                    color: inherit;
                    margin-top: 1rem;
                    letter-spacing: 2px;
                }

                textarea:focus,
                #email:focus,
                #name:focus,
                #subject:focus {
                    outline: none;
                    border-bottom: 2px solid red;
                    transition: border 1s;
                }
            }
        }

        iframe {
            border-radius: 0.5rem;
            border: 1px solid red;
            height: 100%;
            width: 100%;
            font-family: inherit;
        }
    }

    .links {
        padding: 0.5rem;
        display: block;
        background-color: var(--back-color-2);
        border-radius: 0.5rem;
        text-align: center;
        margin-top: 1rem;
        text-align: center;

        h3 {
            a {
                color: inherit;
                text-decoration: none;
                letter-spacing: 2px;
            }
        }

        .gridContactLogo {
            display: grid;
            grid-template-columns: 4rem 4rem 4rem 4rem;
            column-gap: 1rem;
            justify-content: center;
            align-items: center;
            color: var(--color-2);

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        img {
            width: 100%;
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    main {
        .contactMe {
            display: none;
        }

        .Projects {
            grid-template-columns: 100%;

            .Website {
                height: 50vh;
                .webPagina {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .AboutMe {
            max-width: unset;
            grid-template-columns: 100%;
            margin-bottom: 4rem;
            justify-content: center;
            align-items: center;

            .stats {
                height: 10rem;
                width: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    footer {
        .contact {
            grid-template-columns: 100%;
        }

        .links {
            margin-top: 3rem;

            .gridContactLogo {
                display: grid;
                grid-template-columns: 3rem 3rem 3rem 3rem;
            }
        }
    }
}

@keyframes slidin {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
