@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Russo+One&display=swap&family=Stylish&display=swap");
html {
  scroll-snap-align: end;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  margin: 0;
  background-color: #1d1d1d;
  color: rgb(231, 231, 231);
  font-family: "Cabin", sans-serif;
}
body h2 {
  color: gray;
}

header .mainNav {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.452);
  top: 0;
  opacity: 1;
  color: gray;
}
header .mainNav ul {
  list-style: none;
}
header .mainNav ul a {
  text-decoration: none;
  color: inherit;
}
header .mainNav ul .Logo {
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
}
header .mainNav ul .Logo span {
  color: red;
}
header .mainNav ul .Left {
  margin-top: 1.1rem;
  float: right;
  margin-right: 1rem;
  font-size: 1rem;
  transition: color 0.5s;
}
header .mainNav ul .Left:hover {
  color: red;
  border-bottom: 2px solid red;
}
header .navBackground {
  height: 5.5rem;
  background-color: black;
}

main {
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
main .intoduction::before {
  content: "<h1>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 2rem;
  font-weight: 900;
  top: 12rem;
}
main .intoduction::after {
  content: "</h1>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 2rem;
  font-weight: 900;
}
main .subIntro::before {
  content: "<p>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 2rem;
  font-weight: 900;
}
main .subIntro::after {
  content: "</p>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 2rem;
  font-weight: 900;
}
main h1 {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  letter-spacing: 1px;
  margin-top: 0;
  padding-top: 0;
  color: gray;
}
main .intoduction span {
  transition: font-size 0.2s;
}
main .intoduction span:hover {
  color: red;
  font-size: 4.5rem;
}
main .subIntro {
  font-size: 1.4rem;
  padding-bottom: 10rem;
  color: gray;
}
main .contactMe {
  border: 1px solid red;
  color: red;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  right: 2rem;
  top: 30%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-decoration: none;
}
main .contactMe:hover {
  background-color: red;
  color: white;
  transition: background-color 0.5s ease;
}
main .AboutMe {
  display: grid;
  grid-template-columns: 70% auto;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
main .AboutMe .ulAboutMe {
  background-color: #2b2b2b;
  padding: 1rem;
  background-color: #2b2b2b;
  border-radius: 0.5rem;
}
main .AboutMe .ulAboutMe ul li:last-child {
  margin-top: 1rem;
}
main .AboutMe .stats {
  width: 100%;
}
main .Projects {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
main .Projects .Website {
  height: 70vh;
  padding: 1rem;
  width: auto;
  background-color: #2b2b2b;
  border-radius: 0.5rem;
}
main .Projects .Website iframe {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: inherit;
  background-color: white;
}
main .Projects .websiteExtraInfo {
  border-radius: 0.5rem;
}
main .Projects .websiteExtraInfo .info,
main .Projects .websiteExtraInfo .links {
  padding: 0.5rem;
  display: block;
  background-color: #2b2b2b;
  border-radius: inherit;
  text-align: center;
  color: inherit;
}
main .Projects .websiteExtraInfo .info h3,
main .Projects .websiteExtraInfo .links h3 {
  text-align: center;
}
main .Projects .websiteExtraInfo .links {
  margin-top: 1rem;
}
main .Projects .websiteExtraInfo .links a {
  color: inherit;
}
main .Projects .websiteExtraInfo .alleProjecten {
  display: block;
  position: relative;
  padding: 1rem;
  color: red;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid red;
  margin-top: 2rem;
  text-decoration: none;
}
main .Projects .websiteExtraInfo .alleProjecten:hover {
  background-color: red;
  color: white;
  transition: background-color 0.5s ease;
}

footer {
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}
footer .contact {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
footer .contact .contactInfo {
  border-radius: 0.5rem;
  background-color: #2b2b2b;
  padding: 1rem;
  padding-bottom: 2rem;
}
footer .contact .contactInfo form {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .contact .contactInfo form #subject,
footer .contact .contactInfo form textarea,
footer .contact .contactInfo form #verzenden {
  grid-column: 1/3;
}
footer .contact .contactInfo form #verzenden {
  cursor: pointer;
}
footer .contact .contactInfo form #email,
footer .contact .contactInfo form #name,
footer .contact .contactInfo form #subject {
  height: 1rem;
  padding: 1rem;
  font-family: inherit;
  border: 2px solid gray;
  border-radius: 0.3rem;
  background-color: inherit;
  color: inherit;
  letter-spacing: 2px;
}
footer .contact .contactInfo form #verzenden {
  text-align: center;
  padding: 0.5rem;
  font-family: inherit;
  border: 2px solid grey;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  background-color: inherit;
  color: gray;
}
footer .contact .contactInfo form textarea {
  padding: 1rem;
  font-family: inherit;
  border-radius: 0.3rem;
  background-color: inherit;
  border: 2px solid grey;
  color: inherit;
  margin-top: 1rem;
  letter-spacing: 2px;
}
footer .contact .contactInfo form textarea:focus,
footer .contact .contactInfo form #email:focus,
footer .contact .contactInfo form #name:focus,
footer .contact .contactInfo form #subject:focus {
  outline: none;
  border-bottom: 2px solid red;
  transition: border 1s;
}
footer .contact iframe {
  border-radius: 0.5rem;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  font-family: inherit;
}
footer .links {
  padding: 0.5rem;
  display: block;
  background-color: #2b2b2b;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  text-align: center;
}
footer .links h3 a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
}
footer .links .gridContactLogo {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
  align-items: center;
  color: darkgrey;
}
footer .links .gridContactLogo a {
  text-decoration: none;
  color: inherit;
}
footer .links img {
  width: 100%;
  margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
  main .contactMe {
    display: none;
  }
  main .Projects {
    grid-template-columns: 100%;
  }
  main .AboutMe {
    max-width: unset;
    grid-template-columns: 100%;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
  }
  main .AboutMe embed {
    height: 10rem;
  }

  footer .contact {
    grid-template-columns: 100%;
  }
  footer .links {
    margin-top: 3rem;
  }
  footer .links .gridContactLogo {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
  }
}/*# sourceMappingURL=main.css.map */