@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Russo+One&display=swap&family=Stylish&display=swap");
:root {
  --color: rgb(231, 231, 231);
  --color-2: grey;
  --back-color: #1d1d1d;
  --back-color-2: #2b2b2b;
  --nav: black;
  --acent-color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    --back-color: white;
    --back-color-2: rgb(134, 134, 134);
    --color: black;
    --nav: rgb(134, 134, 134);
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  margin: 0;
  background-color: var(--back-color);
  color: var(--color);
  font-family: "Cabin", sans-serif;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: scale-up-center;
          animation-name: scale-up-center;
  overflow-x: hidden;
}
body h2 {
  color: var(--color-2);
}

header {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidin;
          animation-name: slidin;
}
header .mainNav {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid --color;
  background-color: rgba(0, 0, 0, 0.452);
  top: 0;
  opacity: 1;
  color: var(--color-2);
}
header .mainNav ul {
  list-style: none;
}
header .mainNav ul a {
  text-decoration: none;
  color: inherit;
}
header .mainNav ul .Logo {
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
}
header .mainNav ul .Logo span {
  color: var(--acent-color);
}
header .mainNav ul .Left {
  margin-top: 1.1rem;
  float: right;
  margin-right: 1rem;
  font-size: 1rem;
  transition: color 0.5s;
}
header .mainNav ul .Left:hover {
  color: var(--acent-color);
  border-bottom: 2px solid var(--acent-color);
}
header .navBackground {
  height: 5.5rem;
  background-color: var(--nav);
}

main {
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
main .intro {
  height: 200vh;
}
main .intro .under {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
main .intro .under .intoduction::before {
  content: "<h1>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 0;
  font-weight: 900;
  top: 6rem;
}
main .intro .under .intoduction::after {
  content: "</h1>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 0;
  font-weight: 900;
}
main .intro .under .subIntro::before {
  content: "<p>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 0;
  font-weight: 900;
}
main .intro .under .subIntro::after {
  content: "</p>";
  font-family: "Stylish", sans-serif;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  left: 0;
  font-weight: 900;
}
main .intro .under h1 {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  letter-spacing: 1px;
  margin-top: 0;
  padding-top: 0;
  color: var(--color-2);
}
main .intro .under .intoduction span {
  transition: font-size 0.2s;
}
main .intro .under .intoduction span:hover {
  color: var(--acent-color);
  font-size: 4.5rem;
}
main .intro .under .subIntro {
  font-size: 1.4rem;
  padding-bottom: 10rem;
  color: var(--color-2);
}
main .intro .under .contactMe {
  border: 1px solid var(--acent-color);
  color: var(--acent-color);
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  right: 2rem;
  top: 30%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-decoration: none;
}
main .intro .under .contactMe:hover {
  background-color: var(--acent-color);
  color: var(--color);
  transition: background-color 0.5s ease;
}
main .intro .Scroll {
  position: absolute;
  bottom: 1.5rem;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  color: red;
  font-size: 0.8rem;
}
main .intro .bounce {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
main .intro .Left {
  left: 0;
}
main .intro .Right {
  right: 0;
}
main .over {
  margin-top: -100vh;
  position: relative;
  background-color: var(--back-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
main .over .AboutMe {
  display: grid;
  grid-template-columns: 70% auto;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
main .over .AboutMe .ulAboutMe {
  background-color: var(--back-color-2);
  padding: 1rem;
  background-color: var(--back-color-2);
  border-radius: 0.5rem;
}
main .over .AboutMe .ulAboutMe ul li:last-child {
  margin-top: 1rem;
}
main .over .AboutMe .stats {
  width: 100%;
  border-radius: 0.5rem;
}
main .over .Projects {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
main .over .Projects .Website {
  height: 70vh;
  padding: 1rem;
  width: auto;
  background-color: var(--back-color-2);
  border-radius: 0.5rem;
}
main .over .Projects .Website .webPagina {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 0.5rem;
  scrollbar-base-color: var(--acent-color);
  scrollbar-face-color: var(--acent-color);
}
main .over .Projects .Website .webPagina img {
  width: 100%;
}
main .over .Projects .Nest {
  height: auto;
  padding: 1rem;
  width: auto;
  background-color: var(--back-color-2);
  border-radius: 0.5rem;
}
main .over .Projects .Nest .NestPagina {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
}
main .over .Projects .Nest .NestPagina img {
  width: 100%;
  border-radius: 0.5rem;
}
main .over .Projects .websiteExtraInfo,
main .over .Projects .NestExtraInfo {
  border-radius: 0.5rem;
}
main .over .Projects .websiteExtraInfo .info,
main .over .Projects .websiteExtraInfo .links,
main .over .Projects .NestExtraInfo .info,
main .over .Projects .NestExtraInfo .links {
  padding: 0.5rem;
  display: block;
  background-color: var(--back-color-2);
  border-radius: inherit;
  text-align: center;
  color: inherit;
}
main .over .Projects .websiteExtraInfo .info h3,
main .over .Projects .websiteExtraInfo .links h3,
main .over .Projects .NestExtraInfo .info h3,
main .over .Projects .NestExtraInfo .links h3 {
  text-align: center;
}
main .over .Projects .websiteExtraInfo .links,
main .over .Projects .NestExtraInfo .links {
  margin-top: 1rem;
}
main .over .Projects .websiteExtraInfo .links a,
main .over .Projects .NestExtraInfo .links a {
  color: inherit;
}
main .over .Projects .websiteExtraInfo .alleProjecten,
main .over .Projects .NestExtraInfo .alleProjecten {
  display: block;
  position: relative;
  padding: 1rem;
  color: var(--acent-color);
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid var(--acent-color);
  margin-top: 2rem;
  text-decoration: none;
}
main .over .Projects .websiteExtraInfo .alleProjecten:hover,
main .over .Projects .NestExtraInfo .alleProjecten:hover {
  background-color: var(--acent-color);
  color: var(--color);
  transition: background-color 0.5s ease;
}
main .over .Projects .NestExtraInfo .info {
  padding: 1rem;
}

footer {
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}
footer .contact {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
footer .contact .contactInfo {
  border-radius: 0.5rem;
  background-color: var(--back-color-2);
  padding: 1rem;
  padding-bottom: 2rem;
}
footer .contact .contactInfo form {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .contact .contactInfo form::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgrey;
  opacity: 1;
  /* Firefox */
}
footer .contact .contactInfo form:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgrey;
  opacity: 1;
  /* Firefox */
}
footer .contact .contactInfo form::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgrey;
  opacity: 1;
  /* Firefox */
}
footer .contact .contactInfo form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: darkgrey;
}
footer .contact .contactInfo form::-ms-input-placeholder {
  /* Microsoft Edge */
  color: darkgrey;
}
footer .contact .contactInfo form #subject,
footer .contact .contactInfo form textarea,
footer .contact .contactInfo form #verzenden {
  grid-column: 1/3;
}
footer .contact .contactInfo form #verzenden {
  cursor: pointer;
}
footer .contact .contactInfo form #email,
footer .contact .contactInfo form #name,
footer .contact .contactInfo form #subject {
  height: 1rem;
  padding: 1rem;
  font-family: inherit;
  border: 2px solid var(--color-2);
  border-radius: 0.3rem;
  background-color: inherit;
  color: inherit;
  letter-spacing: 2px;
  color: var(--color);
}
footer .contact .contactInfo form #verzenden {
  text-align: center;
  padding: 0.5rem;
  font-family: inherit;
  border: 2px solid var(--color-2);
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  background-color: inherit;
  color: darkgrey;
}
footer .contact .contactInfo form textarea {
  padding: 1rem;
  font-family: inherit;
  border-radius: 0.3rem;
  background-color: inherit;
  border: 2px solid var(--color-2);
  color: inherit;
  margin-top: 1rem;
  letter-spacing: 2px;
}
footer .contact .contactInfo form textarea:focus,
footer .contact .contactInfo form #email:focus,
footer .contact .contactInfo form #name:focus,
footer .contact .contactInfo form #subject:focus {
  outline: none;
  border-bottom: 2px solid red;
  transition: border 1s;
}
footer .contact iframe {
  border-radius: 0.5rem;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  font-family: inherit;
}
footer .links {
  padding: 0.5rem;
  display: block;
  background-color: var(--back-color-2);
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  text-align: center;
}
footer .links h3 a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
}
footer .links .gridContactLogo {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--color);
}
footer .links .gridContactLogo a {
  text-decoration: none;
  color: inherit;
}
footer .links img {
  width: 100%;
  margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
  main .intro .under h1 {
    font-size: 4rem;
  }
  main .intro .under .intoduction::before {
    top: 5rem;
  }
  main .intro .under .contactMe {
    display: none;
  }
  main .over .Projects {
    grid-template-columns: 100%;
  }
  main .over .Projects .Website {
    height: 50vh;
  }
  main .over .Projects .Website .webPagina img {
    width: 100%;
  }
  main .over .AboutMe {
    max-width: unset;
    grid-template-columns: 100%;
    margin-bottom: 4rem;
  }
  main .over .AboutMe .stats {
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 15rem;
  }
  footer .contact {
    grid-template-columns: 100%;
  }
  footer .links {
    margin-top: 3rem;
  }
  footer .links .gridContactLogo {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
  }
}
@-webkit-keyframes slidin {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidin {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */