@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Russo+One&display=swap&family=Stylish&display=swap");

@import 'variables';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    margin: 0;
    background-color: $back-color;
    color: $color;
    font-family: "Cabin", sans-serif;
    animation-duration: 2s;
    animation-name: scale-up-center;
    overflow-x: hidden;

    h2 {
        color: $color-2;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@import 'header';
@import 'main';
@import 'footer';

@keyframes slidin {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
